*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
}
input,button,textarea{font-family:inherit;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*--------------------*/

img {
    width: 100%;
    display: block;
}
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Courier New.ttf');
}
@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Bold.ttf');
}
.block_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    filter: blur(3px);
    z-index: 0;

}
header {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
    margin-bottom: 25px;
}
#clock {
    position: fixed;
    top: 15px;
    left: 15px;
    font-family: Montserrat-Bold, serif;
    background-color: white;
    color: black;
    font-size: 2em;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
}
#exit {
    position: fixed;
    float: right;
    top: 10px;
    right: 5px;
    border: 1px solid silver;
    border-radius: 15px;
    padding: 8px;
    color: black;
    font-size: 1.8em;
    font-family: Montserrat-Bold, sans-serif;
}
header h1 {
    position: relative;
    left: 45%;
    top: 3px;
    font-size: 2.4em;
    display: inline-block;
    font-family: Montserrat-Bold, serif;
    background-color: white;
    border-radius: 15px;
    color: black;
    text-align: center;
    font-weight: 100;
    padding: 15px;
    margin-top: 10px;
    z-index: 2;
}
#exit:hover, .addDeal:hover, .dell:hover, .send:hover {
    background-color: silver;
    cursor: pointer;
    transition: 0.3s;
}
#exit {
    transition: 0.3s;
    outline: none;
}
.user {
    display: inline-block;
    position: relative;
    background-color: white;
    float: left;
    width: 400px;
    height: 370px;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
    z-index: 2;
}
.user p{
    font-size: 2em;
    font-family: Montserrat-Bold, serif;
    font-weight: 500;
    padding: 8px;
}
p span {
    font-size: 1em;
    font-family: Poppins-Regular, serif;
    text-align: left;
}
.fotoUser {
    position: relative;
    width: 50%;
    height: 50%;
    margin: 10px auto;
    background-image: url(../img/chief.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.tabbed {
    position: relative;
    max-width: 900px;
    margin: 30px auto;
    z-index: 2;
}
.tabbed > input {
    display: none;
}
.tabbed > label {
    display: block;
    float: left;
    padding: 12px 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
    font-family: Montserrat-Bold, serif;
}
.tabbed > label:hover,
.tabbed > input:checked + label {
    background: white;
    border-radius: 5px;
}
.tabs {
    display: inline-block;
    perspective: 600px;
}
#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3) {
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}
@media screen and (max-width: 700px) {
    .tabbed {
        width: 400px;
    }
    .tabbed > label {
        display: none;
    }
    .tabs > div {
        width: 400px;
        border: none;
        padding: 0;
        opacity: 1;
        position: relative;
        transform: none;
        margin-bottom: 60px;
    }
}
.tabs > div {
    max-width: 900px;
    position: relative;
    padding: 10px;
    border-radius: 15px;
    opacity: 1;
    transform: rotateX(0);
    transform-origin: top center;
    transition: opacity 0.3s, transform 1s;
    float: left;
    background-color: white;
    z-index: 2;
}
ol {
    position: relative;
    padding: 20px;
    margin-left: 10px;
    font-size: 1.2em;
    z-index: 2;
}
.tabs > div h1 {
    font-weight: 400;
    font-size: 2em;
    font-family: Poppins-Regular, serif;
    margin-left: 15px;
    padding: 10px;
    cursor: default;
}
li {
    margin: 15px;
    font-size: 1.2em;
    font-family: Poppins-Regular, serif;
}
input {
    display: inline-block;
    font-size: 1.2em;
    font-family: Poppins-Regular, serif;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
}
input + label{
    position: relative;
    display: inline-block;
    margin: 5px ;
    font-size: 1.2em;
    color: black;
}
input:checked + label {
    font-weight: 600;
}
.tabs > div input{
    width: 80%;
    height: 16px;
    padding: 15px;
    font-size: 1.2em;
    color: black;
}
#addDeal, #send {
    position: relative;
    top: 5px;
    right: 5px;
    border: 1px solid silver;
    border-radius: 15px;
    padding: 8px;
    margin-left: 15px;
    color: black;
    font-size: 1em;
    font-family: Montserrat-Bold, serif;
}
.dell {
    position: relative;
    left: 15px;
    float: right;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 3px;
    color: black;
    font-size: 0.9em;
    font-family: Montserrat-Bold, serif;
 
}

